<div class="snippet container">
	<header class="g-wide--full g-medium--full">
		<p class="medium">
			<a href="{{site.urlRoot}}{{presentation.url}}">{{presentation.title}}</a>
		</p>
	</header>
	
	<p class="g-wide--full g-medium--full">
		<span class="g--half">
		{% if presentation.image %}
		<img src="/images/presentations/{{presentation.image}}" alt="{{presentation.image_caption}}" title="{{presentation.image_caption}}"/>
		{% endif %}
		</span>
		<span class="base">
			{{presentation.created|date('M j, Y')}}
		</span>
		<p>
		    {{presentation.summary|striptags|truncate(300)|safe}}
		    <a class="small" href="{{site.urlRoot}}{{presentation.url}}">Read more...</a>
		</p>
	</p>
</div>