{% extends "base.html" %}
{% set page.nav = "home" %}

{% block content %}
<h2>Opinions for all occasions!</h2>

<p>
	This is the place to find the slides for presentations we have given.
</p>

<h3>Recent presentations</h3>
<div class="blog_excerpt">
{% set counter = 0 %}
{% for presentation in site.presentations %}
	{% if loop.index <= 6 %}{% set counter = counter + 1 %}
	<article class="g--third {% if (counter % 3) == 0 %}g--last{% endif %}">
		{% include "include/snippet.html" %}
	</article>
	{% endif %}
{% endfor %}
</div>
</section>

{% endblock main %}
